# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs and databases
*.log
*.sqlite
logs/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Project specific
results/
test_images/
.gradio/ 